<!-- Miles Halpine 10607950 -->
<!-- Interface to view a quote's details. Access point for editing or deleting the quote -->
<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div>
  <%= link_to "Edit this quote", edit_quote_path(@quote) %> |
  <%= link_to "Back to quotes", quotes_path %>

<!-- Improved styling and formatting-->
<div style="padding-top: 20px;">
<!-- Delete button is only displayed if the logged-in user is an admin or created the quote -->
<% if @quote.user == current_user || is_administrator? %>
  <%= button_to "Delete Quote", @quote, method: :delete, class: 'btn btn-danger' %> <!-- Bootstrap button styling -->
<% end %>
</div>
